@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-light-theme{
    background-image: url("/bgNature.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    backdrop-filter: brightness(70%);
}

.bg-dark-theme{
    background-image: url("/bgNight.avif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    backdrop-filter: brightness(70%);
}

.map{
    z-index: -1;
}

.weather-card{
    z-index: -1;
}

@media  screen and (max-width: 768px) {
    .search-bar, .search-button{
        display: none;
    }
}

.navbar{
    z-index: 2000 !important;
}

.MenuSmallScreen, .menusmall-container {
    z-index: 3000 !important;
}
.overlay{
    z-index: 2200 !important;
}

@media screen and (min-width: 768px) {
    .burger-icon{
        display: none;
    }
}