@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-light-theme{
    background-image: url("public/bgNature.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    backdrop-filter: brightness(70%);
}

.bg-dark-theme{
    background-image: url("public/bgNight.avif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    backdrop-filter: brightness(70%);
}
